<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>[{{ .Status }}] {{ .Target }}</title>
    </head>
    <body style="background-color: #f6f5f8; text-align: center; margin: 0; padding: 32px 0">
        <div style="background-color: #f6f5f8; color: #45414a; margin: auto; padding: 0 0 64px; max-width: 100%; width: 800px">
            <div style="width: 0; height: 0; border: 32px solid transparent; border-color: #45414a transparent transparent #45414a"></div>

            <span style="display: block; font-size: 200%; padding: 0 0 32px">Status "{{ .Status }}" alert</span>
            <a href="{{ .Target }}" style="font-size: 130%; color: #45414a; font-weight: bold">{{ .Target }}</a><br />{{ if .Message }}
            <span style="font-family: monospace; display: inline-block; background-color: #45414a; color: #f6f5f8; padding: 6px 12px">{{ .Message }}</span><br />{{ end }}
            {{ .CheckedAt }}<br />

            <a href="{{ .StatusPage }}" style="display: inline-block; background-color: #45414a; color: #f6f5f8; padding: 8px 16px; border-radius: 4px; text-decoration: none; margin: 48px 0 0">Status Page</a><br />

            <div style="float: right; width: 0; height: 0; border: 32px solid transparent; border-color: transparent #45414a #45414a transparent"></div>
            </div>
        </div>
    </body>
</html>

