<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>[{{ .Status }}] {{ .Target }}</title>
    </head>
    <body>
        <span style="font-size: 120%">
            <b style="padding: 4px 0 4px 4px; border-left: 4px solid {{ if eq .Status "RESOLVED" -}}
                #89C923
            {{- else if eq .Status "FAILURE" -}}
                #FF2D00
            {{- else if eq .Status "DEGRADE" -}}
                #DDA100
            {{- else -}}
                black
            {{- end }}">{{ .Status }}</b>
            <a href="{{ .Target }}" style="color: inherit; text-decoration: none">{{ .Target }}</a>
        </span><br />
        at {{ .CheckedAt }}<br />{{ if .Message }}
        <br />
        <b>message</b><br />
        <pre style="white-space: pre-wrap; margin: 4px 0 0 8px">{{ .Message }}</pre>{{ end }}{{ if .Extra }}<br />
        <table style="margin: -2px">{{ range .Extra }}
            <tr>
                <th style="text-align: left; vertical-align: top; padding: 2px 4px 2px 0">{{ .Key }}</th>
                <td style="white-space: pre-wrap">{{ .Value }}</td>
            </tr>{{ end }}
        </table>{{ end }}{{ if .StatusPage }}<br />
        <hr />
        Please check <a href="{{ .StatusPage }}">the current status</a>.{{ end }}
    </body>
</html>

